@model IEnumerable<ShoppingCart.App.ViewModels.ProdutoViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Produtos</h1>

<p>
    <a class="btn btn-info" asp-action="Create">Criar Novo</a>
</p>

<table class="table">
    <thead class="thead-dark">
        <tr>
          <th>
          </th>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <img style="max-width: 100px; max-height: 70px" src="~/imgUploads/@item.Imagem" alt="Imagem Produto" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><spam class="fa fa-search"></spam></a>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><spam class="fa fa-pencil-alt"></spam></a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><spam class="fa fa-trash"></spam></a>
            </td>
        </tr>
        }
    </tbody>
</table>
