@model ShoppingCart.App.ViewModels.CarrinhoViewModel

<table class="table table-hover table-custom">
    <thead class="border-custom">
        <tr>
            <th></th>
            <th>Item</th>
            <th>Quantidade</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Itens)
        {
            <tr>
                <td>
                    <img style="max-width: 100px; max-height: 70px" src="~/imgUploads/@item.Produto.Imagem" alt="Imagem do Produto" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Produto.Nome)
                </td>
                <td>
                    <input type="number" min="0" value="@Html.DisplayFor(modelItem => item.Quantidade)" />
                </td>
                <td>
                    @item.PrecoUnitario.ToString("C")
                </td>
                <td>
                    <form method="post">
                        <button class="btn" type="submit" asp-controller="Carrinho" asp-action="RemoverItem" asp-route-itemPedidoId="@item.Id"><span class="fas fa-trash-alt"></span></button>
                    </form>
                </td>

            </tr>

        }
    </tbody>

    <tfoot class="border-custom">
        <tr>
            <td>
                <a class="btn btn-checkout" name="checkout"><span class="fas fa-cart-plus"></span> Finalizar Pedido</a>
            </td>
            <td>
            </td>

            <td>
                <a><i class="fas fa-sync-alt"></i></a>
            </td>
            <td>R$ @Model.Total</td>
            <td></td>
        </tr>
    </tfoot>
</table>
